<ion-content>
    <div class="login-form-holder">
        <img src="assets/img/techne-logo.png" height="200" style="    margin-bottom: 20px;"/>
        <br />
        <form class="user-form" name="userForm" novalidate (ngSubmit)="askForPasswordReset()">
            <div md-no-float class="md-input-container">
                <input (change)="insertEmail()" name="username" [(ngModel)]="credentials.username" id="username" placeholder="Email" required autofocus type="email">
                <div *ngIf="!emailvalid">
                  <div class="error" ng-message="required">Email is required.</div>
                </div>
            </div>
            <button ion-button type="submit" class="md-raised md-primary">Submit</button>
            <div *ngIf="errtxt" class="alert alert-danger center">
                {{ errtxt }}
            </div>
            <ion-label class="forgot-password" tappable (click)="forgotPass()">
                Back to signin
            </ion-label>
        </form>
    </div>
</ion-content>