page-view-scores {

  ion-header {
    ion-navbar{
      .toolbar-title {
        color: white;
      }
      .toolbar-background {
        background-color: #222;
      }
      .toolbar-left {
        color: #5AC1F1;
      }
      .menu-icon {
        color: white;
      }
    }
    
    .section-select {
      height: 44px;
      color: #4E92DF;
      font-size: 14px;
      background-color: #F8F9F9;
    }

    .section-select .tab-group {
      border: solid #4E92DF 1px;
      border-radius: 5px;
      // width: 360px;
      height: 30px;
    }

    .section-select .tab-group {
      border: solid #4E92DF 1px;
      border-radius: 5px;
      // width: 360px;
      height: 30px;
    }

    .tab-group .tab-item {
      cursor: pointer;
    }

    .tab-group .tab-item:not(:last-child) {
      border-right: solid #4E92DF 1px;
    }

    .tab-group .tab-item.selected {
      color: #FFFFFF;
      background-color: #4E92DF;
    }
    ion-col{
      text-align: center;
    }
  }

  ion-content{

    

    .drill-list {
      // width: 360px;
      color: #000;
    }

    .skip-drill-list {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .skip-drill-list-item {
      margin-bottom: 10px;
      text-align: center;
    }

    .drill-list-item {
      margin-top: 20px;
    }
    
    .right-text, .right-text * {
      text-align: right;
    }
  }
}
