page-signin {
    ion-content{
        background-color: #000 !important;
        font-size: 20px;
        .scroll-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-form-holder{
            width: 100%;
            text-align: center;
        }
        .user-form{
            .md-input-container{
                margin: 0;
                padding: 0 0 20px;

                input{
                    width: 80%;
                    background-color: #FFF;
                    border-radius: 8px;
                    height: 45px;
                    padding-left: 14px;
                    border-color: rgb(221,44,0);
                    border-width: 0 0 2px;
                }

                .error{
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    color: #F96;
                    text-align: left;
                }
            }

            .md-primary {
                background-color: #8DC2F4;
                text-transform: none;
                width: 75%;
                max-width: 300px;
                height: 60px;
                border-radius: 8px;
                font-size: 24px;
            }

            .forgot-password {
                color: #337ab7;
            }

            .alert-danger{
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
            }

            .alert{
                width: 90%;
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
            }

            .center{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
